@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue.otf') format('opentype');
}

:root {
  --tamanhoFonteTexto: 40px;
  --tamanhoFonteBotao: 40px;
}

body {
  font-family: "BebasNeue";
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temaTon {
  background-color: #01ff5f;
}

.temaPagBank {
  background-color: #ffb900;
}

.telaPopup {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-style: none;
  border-radius: 8px;
  min-width: 75%;
  padding: 0;
  overflow: auto;
}

.textoPopup {
  font-family: 'BebasNeue';
  font-size: var(--tamanhoFonteTexto);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  align-content: center;
}

.centralizado {
  text-align: center;
}

.botaoPopup {
  font-family: 'BebasNeue';
  font-size: var(--tamanhoFonteBotao);
  padding: 0.5rem 0;
  align-content: center;
  text-align: center;
}

.titulo {
  border-bottom: 1px solid black;
}

.headerContainer,
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 8vh;
}

.header {
  justify-content: space-between;
  font-size: 2em;
  padding: 0 1rem;
}

.botaoHeader {
  height: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92.5vw;
  margin: auto;
  gap: 8px;
}

.containerMaquinas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
  gap: 8px;
}

.containerMaquinas>div {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  padding: 1rem;
}

.containerMaquinas>div>img {
  width: 100%;
}

.containerMaquinas>div>p {
  text-align: center;
  font-size: var(--tamanhoFonteTexto);
  margin: 0;
}

.linhaBotoes {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.botaoPreto {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BebasNeue";
  background: black;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 32px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.botaoDigito {
  font-size: 64px;
}

.visor {
  background: white;
  color: black;
  width: 70%;
  font-size: 64px;
}

.resultadoGrande {
  font-size: 52px;
}

.botaoLimpar {
  color: red;
  width: 30%;
  font-size: 64px;
}

.sheIs {
  width: 50%;
}

#divDigitos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}

::backdrop {
  background-color: #000;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .botaoDigito {
    aspect-ratio: 1;
  }
}

@media (min-width: 768px) {
  .container {
    width: 40vw;
    height: 100vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  .botaoDigito {
    height: 14vh;
  }

  .telaPopup {
    min-width: 30vw;
  }
}