@font-face {
    font-family: 'BebasNeue';
    src: url('BebasNeue.otf') format('opentype');
}

:root {
    --tamanhoFonteTexto: 40px;
    --tamanhoFonteBotao: 40px;
}

body {
    font-family: "BebasNeue";
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #01ff5f, #ffb900);
}

.temaTon {
    background-color: #01ff5f;
}

.temaPagBank {
    background-color: #ffb900;
}

.telaPopup {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-style: none;
    border-radius: 8px;
    min-width: 75%;
    padding: 0;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.textoPopup {
    font-family: 'BebasNeue';
    font-size: var(--tamanhoFonteTexto);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    align-content: center;
}

.centralizado {
    text-align: center;
}

.botaoPopup {
    font-family: 'BebasNeue';
    font-size: var(--tamanhoFonteBotao);
    padding: 0.5rem 0;
    align-content: center;
    text-align: center;
}

.titulo {
    border-bottom: 1px solid black;
}

.headerContainer,
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
}

.headerContainer {
    background: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid black;
}

.header {
    justify-content: space-between;
    font-size: 2em;
    width: 92.5%;
}

.botaoHeader {
    height: 50%;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.invisivel {
    display: none;
}

.widthContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92.5%;
    height: calc(100% - 7vh);
    margin: auto;
    gap: 8px;
}

.containerMaquinas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 8px;
}

.containerMaquinas>div {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    padding: 8px;
}

.containerMaquinas>div>img {
    width: 100%;
}

.containerMaquinas>div>p {
    text-align: center;
    font-size: var(--tamanhoFonteTexto);
    margin: 0;
}

.linhaBotoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
}

.botaoPreto {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "BebasNeue";
    background: black;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 28px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.botaoDigito {
    font-size: 64px;
    aspect-ratio: 1.25;
}

.visor {
    background: white;
    color: black;
    width: 70%;
    font-size: 64px;
}

.resultadoGrande {
    font-size: 52px;
}

.botaoLimpar {
    color: red;
    width: 30%;
    font-size: 64px;
}

.sheIs {
    width: 50%;
}

#listaParcelamento {
    max-height: 60vh;
    overflow: auto;
}

#divDigitos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
}

::backdrop {
    background-color: #000;
    opacity: 0.5;
}

@media (min-width: 768px) {
    :root {
        --tamanhoFonteTexto: 24px;
        --tamanhoFonteBotao: 24px;
    }

    body {
        background: linear-gradient(to right, #01ff5f, #ffb900);
    }

    .resultadoGrande {
        font-size: 40px;
    }

    .botaoPreto {
        font-size: 22px;
    }

    .botaoDigito {
        font-size: 48px;
    }

    .visor,
    .botaoLimpar {
        font-size: 48px;
    }

    .mainContainer {
        height: 100vh;
        width: 45vh;
        box-shadow: -10px 18px 45px 6px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: -10px 18px 45px 6px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -10px 18px 45px 6px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        scale: 0.99;
    }

    .header {
        border-radius: 8px 8px 0 0;
    }

    .telaPopup {
        min-width: 40vh;
        max-width: 40vh;
    }
}