@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue.otf') format('opentype');
}

:root {
  --tamanhoFonteTexto: 20pt;
  --tamanhoFonteBotao: 18pt;
  --corFundo: #01ff5f;
}

body {
  font-family: "BebasNeue";
  background-color: var(--corFundo);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.telaPopup {
  background-color: var(--corFundo);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-style: none;
  border-radius: 8px;
  min-width: 75%;
  padding: 0;
  overflow: hidden;
}

.textoPopup {
  font-family: 'BebasNeue';
  font-size: var(--tamanhoFonteTexto);
  border-bottom: 1px solid #000;
  background-color: #fff;
  padding: 0 2vw 0 2vw;
  align-content: center;
  height: 6vh;
}

.botaoPopup {
  font-family: 'BebasNeue';
  font-size: var(--tamanhoFonteBotao);
  padding: 0 2vw 0 2vw;
  align-content: center;
  text-align: center;
  height: 8vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid black;
  width: 100%;
  height: 8vh;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92.5vw;
  margin: auto;
  gap: 8px;
}

.linhaBotoes {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.botaoPreto {
  font-family: "BebasNeue";
  background: black;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.botaoDigito {
  font-size: 2.5em;
}

.visor {
  background: white;
  color: black;
  width: 70%;
  font-size: 2.5em;
}

.botaoLimpar {
  color: red;
  width: 30%;
  font-size: 2.5em;
}

.sheIs {
  width: 50%;
}

#divDigitos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}

::backdrop {
  background-color: #000;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .botaoDigito {
    aspect-ratio: 1;
  }
}

@media (min-width: 768px) {
  .container {
    width: 40vw;
    height: 100vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  .botaoDigito {
    height: 14vh;
  }

  .telaPopup {
    min-width: 30vw;
  }

  .textoPopup {
    height: 5.5vh;
  }
}